<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><th:block th:include="fragments/header::header"></th:block>
    <script type="text/javascript" th:src="@{/js/upload.js}"></script>
</head>
<body>
<nav th:replace="fragments/header::navbar">
</nav>
<div class="container">
    <div class="page-header">
        <h2>Upload</h2>
    </div>
	<div th:if="${message}">
		<h4 th:text="${message}"/>
	</div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
        <div class="form-group">
            <label for="text">File to upload:</label>
            <label class="btn btn-primary" for="file-selector">
            <input id="file-selector" type="file" name="file" style="display:none;" multiple ="multiple" />
                Browse
            </label>
            <div id="file-list">
            </div>
            <input type="submit" class="btn btn-default" value="Upload" />
        </div>
    </form>
</div>
</body>
</html>